@font-face {
    font-family: Roboto;
    src: url(../FONTS/Roboto/Roboto-Regular.ttf);
    
}
@font-face {
    font-family: Allura;
    src: url(../FONTS/allura/Allura-Regular.otf);

}
body {
    font-family: Roboto;
    margin: 0px;
}
.TitelBestelPagina{
font-family: Allura;
color: #b01033;
text-align: center;
font-size: 45px;
width: 75%;
margin-left: 25%;
background-color: white;
}
#Titel{
position: absolute;
color:white;
font-family: Allura;
margin-top: 5px;
margin-left: 10px;
}
#NAV{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d93257;
    border-bottom: solid black 2px;
    
}

#NAV li {
    float: right;
    
}

#NAV li a {
    display: block;
    color: white;
    background-color: #d93257;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#NAV li a:hover {
    background-color: #df5371;
}

#NAV2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:25%;
    font-size: 100%;
    cursor: pointer;
    overflow: hidden;
    
    background-color: #d93257;
    float: left;
    font-family: Allura;
   
}
#NAV2 li{
transition: 0.5s all;
}
#NAV2 li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
#NAV2 li:hover{
    
    width: 100%;
    font-size: 125%;
    transition: all 0.5s;
    text-shadow: 0 0 3px black, 0 0 5px gray;
}
/* Change the link color on hover */
#NAV2 li a:hover {
    background-color: #df5371;
    color: white;
}
#Winkelmand{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:25%;
    font-size: 100%;
    background-color: whitesmoke;
    margin-top: 220px;
    height: auto;
    font-family: Allura;
    left: 0;
}
#Winkelmand h2{
margin-left: 10px;

}

.FoodSelection{
width: 75%;
height: 50px;
background-color:white;
float: right;
border-bottom: 1px solid black;
border-top: 1px solid black;
transition: all 0.5s;
}
.FoodSelection:Hover{
width: 75%;
height: 170px;
background-color:white;
float: right;
border-bottom: 2px solid black;
transition: all 0.3s;
}
.CONTENT{
margin-left: 10%;
width: 75%;
margin-top: 25px;
}
.FoodSelection:Hover .CONTENT{
width: 75%;
}
.FoodSelection:Hover .PlaatjeGerecht{
float: left;
height: 160px;
width: 150px;
border: solid;
border-color:Gainsboro;
border-width: 5px;
transition: all 0.5s;
cursor: pointer;
}
.FoodSelection .PlaatjeGerecht:active{
float: left;
height: 280px;
width: 300px;
border: solid;
position: absolute;
border-color:Gainsboro;
border-width: 5px;
transition: all 0s;
margin: 0px;
}
.PlaatjeGerecht{
float: left;
height: 40px;
width: 45px;
border: solid;
border-color:Gainsboro;
border-width: 5px; 
transition: all 0.5s;
}
.FoodSelection:Hover .Beschrijving{
opacity: 1;
transition: all 1s;
width: 90%;
height: 70px;
max-height: 70px;
visibility: visible;
text-align: left;
}
.Beschrijving{
opacity: 0;
width: 100%;
height: 54px;
visibility: hidden;

}
.Prijs{
    visibility: hidden;
 
}
.FoodSelection:Hover .Prijs{
visibility: visible;
margin-top:5px;

}
.GerechtTekst{
margin-left: 10%;
width: 70%;

transition: all 0.3s;
}
.FoodSelection:Hover .GerechtTekst{
margin-left: 15%;
transition: all 1s;
width: 85%;
}
.FoodSelection:Hover .BestelKar{
height: 50px;
width: 50px;
float: right;
margin-right: 20px;
cursor: pointer;
transition: all 1.5s;
}
.BestelKar{
height: 35px;
width: 35px;
float: right;
margin-top: -75px;
margin-right: 50px;
cursor: pointer;
transition: all 0.5s;

}
.BestelText{
opacity: 0;
float: right;
right: 0;
bottom: -40;
box-shadow: 1px 5px #888888;
visibility: hidden;
}
.FoodSelection:Hover .BestelText{
transition: 0.5s;
opacity: 1;
background-color: white;
cursor: pointer;
border: solid 2px black;
border-radius: 10px;
font-size: 17px;
position: absolute;
visibility: visible;
}
.FoodSelection .BestelText:hover{
background-color: ghostwhite;
box-shadow: 1px 2px #888888;
margin-top: -5px;
cursor: pointer;
}
.GerechtNaam{
margin-top:-15px;
transition: all 1s;
width: 70%;
}
.FoodSelection:hover .GerechtNaam{
margin: 0;
transition: all 1s;
}
.BestelKarVol{
height: 50px;
width: 50px;
float: right;
margin-top: -100px;
margin-right: 40px;
cursor: pointer;
transition: all 0.5s;
opacity: 0;

}
.FoodSelection:Hover .BestelKar{
height: 50px;
width: 50px;
float: right;
margin-top: -70px;
margin-right: 20px;
cursor: pointer;
transition: all 1.5s;

}
.FoodSelection .BestelKar:Hover {
opacity: 0;
}
.FoodSelection:Hover .BestelKarVol{
height: 50px;
width: 50px;
float: right;
margin-top: -70px;
margin-right: 20px;
cursor: pointer;
transition: all 1s;
}
.FoodSelection:Hover .WinkelKar{
margin-top: -70px;
visibility: visible;
}
.WinkelKar{
cursor: pointer;
right: 10px;
position: absolute;
margin-top: -95px;
width: 0px;
}
.BestelKar{
visibility: visible;
}
.WinkelKar:Hover .BestelKar{
opacity: 0;
cursor: pointer;
}
.WinkelKar:Hover .BestelKarVol{
opacity: 1;
cursor: pointer;
transition: 1s;
}

#UitlegHandmatigeInvulling{
text-align: center;

}
#WinkelKarNav{
height: 20px;
width: 20px;
float: right;
margin-top: 5px;
margin-right: 5px;
cursor: pointer;
transition: 1s;
}
#WinkelKarNav:Hover{
height: 40px;
width: 45px;
float: right;
margin-top: 5px;
margin-right: 5px;
cursor: pointer;
transition: 1s;
}

@media (max-width: 70em){
    .FoodSelection:Hover .Beschrijving{
    font-size: 70%;
    width: 80%;
    }
}
@media (max-width: 50em){
    .FoodSelection:Hover .CONTENT{
left: 90px;
}
}
